UPDATE lessons SET video_url = CASE WHEN video_url = 'video1.mp4' THEN 'lesson1.mp4' WHEN video_url = 'video2.mp4' THEN 'lesson2.mp4' WHEN video_url = 'video3.mp4' THEN 'lesson3.mp4' WHEN video_url = 'video4.mp4' THEN 'lesson4.mp4' ELSE video_url END;
